backports.functools-lru-cache==1.6.6
beautifulsoup4==4.9.3
certifi==2021.10.8
chardet==4.0.0
contextlib2==0.6.0.post1
idna==2.10
importlib-resources==3.3.1
numpy==1.16.6
pandas==0.24.2
pathlib2==2.3.7.post1
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.27.1
scandir==1.10.0
scikit-learn==0.20.4
scipy==1.2.3
selenium==3.141.0
singledispatch==3.7.0
six==1.16.0
soupsieve==1.9.6
tqdm==4.64.1
typing==3.10.0.0
urllib3==1.26.19
xgboost==0.82
zipp==1.2.0
